
@model IEnumerable<NotarialOffice.Models.Data.Category>

@{
    ViewBag.Title = "Наши услуги";
}
<h2>@ViewBag.Title</h2>
<hr>
<div class="row">
    <div class="list-group col-xs-4 col-md-offset-4 ">
        @foreach (var category in Model)
        {
            if (category.Hidden && !User.IsInRole("Admin"))
            {
                continue;
            }

            <a class="list-group-item itemPart list-group-item-action" data-id="@category.ID">@category.Name</a>
        }
    </div>
</div>

<style>
    .catalogItem {
        cursor: pointer;
    }
</style>

<script>
    $(".catalogItem").click(
        function () {
            var id = $(this).attr("data-id");
            window.location.href = "/home/catalog?selectedCategory="+id;
           
        }
    );
</script>