@model IEnumerable<NotarialOffice.Models.Data.Category>

@{
	ViewBag.Title = "Каталог";
}
<h2>Категории</h2>
<hr>
<div class="row">
	<div class="list-group col-md-4 col-lg-4 ">
		@foreach (var category in Model)
		{
			if (category.Hidden && !User.IsInRole("Admin"))
			{
				continue;
			}

			<a class="list-group-item catalogItem list-group-item-action" data-id="@category.ID">@category.Title</a>
		}
	</div>

	<div id="partial"></div>
</div>


<script>
	function LoadValues(id){
		$.ajax({
			url: '/Home/ItemsInCategoryPartial',
			data: { id: id },
			type: 'POST',

			success: function (data) {
				$('#partial').html(data);
			}
		})
	};

    $(document).ready(function ()
        {
            var selectedId = @(ViewBag.SelectedCategory == 0 ? 1 : ViewBag.SelectedCategory);

            $('.catalogItem[data-id='+selectedId+']').addClass("active");

			LoadValues(selectedId);
        }
    );

    $(".catalogItem").click(
        function () {
            var id = $(this).attr("data-id");

			LoadValues(id);
	        $('.active').removeClass("active");
			$(this).addClass("active");
        });
</script>
