@using System.Globalization
@using NotarialOffice.Models.Data
@model IEnumerable<NotarialOffice.Models.Data.Item>
@{
	ViewBag.Title = ViewBag.Name;
}

<div class="list-group col-md-8 col-lg-8 ">
	@foreach (var item in Model)
	{
		if (item.Hidden && !User.IsInRole("Admin"))
		{
			continue;
		}
		<div class="list-group col-md-12 col-lg-12 ">
			<a class="list-group-item item-in-cat list-group-item-action  @(item.Hidden ? "bg-danger" : "")" data-toggle="modal"
			   data-target="#service-modal-@item.Id" data-id="@item.Id">
				@item.Title
				@*<span class="" style="float:right">@item.Price.ToString("C0", CultureInfo.CreateSpecificCulture("ru-RU"))</span>*@
			</a>
		</div>

		//todo: кнопка закрытия
		<div class="modal fade" id="service-modal-@item.Id" tabindex="-1" role="dialog" aria-labelledby="??">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body">
						@*@Html.Action("Item", "Home", new { id = item.Id, isPartial = true })*@
					</div>
				</div>
			</div>
		</div>
	}
</div>

<style>
	.item {
		cursor: pointer;
	}

		.item:hover .panel {
			border-color: black;
		}


	.center-block {
		display: block;
		margin-right: auto;
		margin-left: auto;
	}
</style>

<script>
</script>

