body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 12pt;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.catalogItem {
    cursor: default;
}

.float-right {
    float: right;
}

.no-margin {
    margin: 0;
}

.panel-title {
    text-align: justify;
}

.center {
    text-align: center;
}

.page-block-bottom {
    margin-bottom: 2em;
}

.page-block-right {
    margin-right: 1em;
}

.link-like {
    cursor: pointer;
    color: #428bca;
}

    .link-like:hover {
        color: #2a6496;
        text-decoration: underline;
    }