@model NotarialOffice.Models.Data.News

@{
	ViewBag.Title = "Добавление новости";
}

<div class="center page-block-bottom">
	<h2>@ViewBag.Title</h2>
</div>

<div class="row">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		@using (Html.BeginForm("AddNews", "Admin", FormMethod.Post))
		{
			<div class="form-group">
				<input type="text" class="form-control" name="Title" placeholder="Заголовок" required="">
			</div>
			<div class="form-group">
				<textarea class="form-control" name="Description" placeholder="Новость" rows="8" required=""></textarea>
			</div>
			<button type="submit" class="btn btn-default">Создать</button>
		}
	</div>
</div>